@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

#Landing {
  /* The image used */
  background-image: url("images/TestBG.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}