@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    height: 100vh;
    background-image: url('images/Yr11 Environment/Environment.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
