h1, body {
    margin: 0;
}

#LandingPage {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Landing Page */
#landingPage-title {
  text-align: center;
  padding: 40vh 0;
  font-size: 8em;
  color: white;
}

#LandingPage {
  background-image: url("images/Yr11 Environment/IslandEnv.png");
  background-attachment: fixed;
}

/* Projects */
#projects-title{
  padding: 100px 0;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}

/* Inserted from w3 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
  height: 25vh;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding-left: 40%;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#projects-description{
  position: sticky;
  width: 40%;
  top: 0;
  padding: 50px;
  font-size: 20px;
}
