h1, body {
    margin: 0;
}

div {
    height: 100vh;
}

#heading {
    text-align: center;
    padding: 40vh 0;
    font-size: 8em;
    color: white;
}

#LandingPage {
    background-image: url("images/Yr11 Environment/IslandEnv.png");
    background-attachment: fixed;
}